@keyframes expand {
  from { transform: scale(0.9); opacity: 0; }
  80% { transform: scale(1.05); }
  to { transform: scale(1); opacity: 1; }
}

@keyframes expand-reverse {
  from { transform: scale(1); opacity: 1; }
  20% { transform: scale(1.1); }
  to { transform: scale(0.9); opacity: 0; }
}

.animateIn {
  animation: 250ms expand ease-in;
}

.animateOut {
  animation: 250ms expand-reverse ease-out forwards;
}
