@keyframes translate {
    from { transform: translate(var(--drawer-position-from-x) , var(--drawer-position-from-y)); overflow: auto; }
    to { transform: translate(var(--drawer-position-to-x) , var(--drawer-position-to-y)); overflow: auto; }
}

@keyframes translate-reverse {
    from { transform: translate(var(--drawer-position-from-x) , var(--drawer-position-from-y)); overflow: auto; }
    to { transform: translate(var(--drawer-position-to-x) , var(--drawer-position-to-y)); overflow: auto; }
}

.animateTranslateInX,
.animateTranslateOutX,
.animateTranslateInY,
.animateTranslateOutY {
  --drawer-position-from-x: 0;
  --drawer-position-to-x: 0;
  --drawer-position-from-y: 0;
  --drawer-position-to-y: 0;
}

.animateTranslateInX {
    --drawer-position-to-x: var(--drawer-position-direction);
    animation: 350ms translate ease-in forwards;
}
.animateTranslateOutX {
    --drawer-position-from-x: var(--drawer-position-direction);
    animation: 350ms translate-reverse ease-out forwards;
}
.animateTranslateInY {
    --drawer-position-to-y: var(--drawer-position-direction);
    animation: 350ms translate ease-in forwards;
}
.animateTranslateOutY {
    --drawer-position-from-y: var(--drawer-position-direction);
    animation: 350ms translate-reverse ease-out forwards;
}

