@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1d66e5;
  --primaryTextColor: #fff;
  --secondary: #b64fd7;
  --secondaryTextColor: #fff;
  --background: #fff;
  --color: #333;
  --border: rgba(0, 0, 0, 0.15);
  --border-light: rgba(0, 0, 0, 0.08);
  --flexible-cols-min-width: 200px;
}
