name: 'Build & Deploy Storybook on GitHub Pages'

on:
  push:
    branches:
      - 'main'

permissions:
  contents: read
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install modules
        run: npm install
      - name: Build storybook
        run: npm run build-storybook
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: storybook-static
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
